<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <h1 class="text-center">Heroku Express App Template</h1>
    <p class="text-center">
        Probably a good idea to change the content of this index.
    </p>
</body>
</html>
